body {
  background-color: #f6f6f6;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#list-frame {
  background-color: white;
  width: 50vw;
  max-width: 500px;
  box-shadow: 5px 4px 6px #8888885d;
}

#list-frame h1 {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
}

section ul {
  list-style-type: none;
  padding: 0;
}

#add-list {
  border-top: 2px solid #f0f0f0;
  padding: 10px;
}

#input-task {
  border: none;
  width: 90%;
  color: #989898;
  font-size: 0.9rem;
}

#add-button {
  padding: none;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #989898;
  font-size: 0.9rem;
}


.tasks {
  border-top: 2px solid #f0f0f0;
  padding: 10px;
}

.edit-button {
  padding: none;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #989898;
  font-size: 0.9rem;
}

.edit-task {
  color: #4d4d4d;
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
}

.edit-task:focus {
  outline: none;
}

.tasks.editing {
  background-color: rgba(187, 187, 224, 0.342);
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clear-button {
  border: 2px solid #f0f0f0;
  background-color: #f6f6f6;
  color: #949494;
  width: 100%;
  height: 50px;
}
